@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    font-size: 14px;
    font-family: 'MS Arial', 'Arial', sans-serif;
}

@font-face {
    font-family: Butler;
    src: url('../fonts/Butler_Light.otf');
}
