* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.hero-page {
    position: relative;
    background-image: url("../img/hero-page-bg.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    width: 1065px;
    height: 630px;
    margin: 135px auto;
}

.hero-page-box {
    background: #FFFFFF;
    position: absolute;
    top: 137px;
    bottom: 138px;
    left: 254px;
    right: 254px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-page-title {
    font-family: 'Butler', 'MS Arial', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 6.2rem;
}

.hero-page-description {
    font-family: 'Roboto', 'MS Arial', 'Arial', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 18px;
}